<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="SampleJavaProject" verbose="1"  parallel="tests" thread-count="5">
   <test name="Chrome Test">
        <parameter name="browser" value="chrome" />
        <parameter name="version" value="107.0" />
        <parameter name="platform" value="WIN10" />
    <classes>
    
       <class name="com.questyAutomation.testcases.Sampletest2" >
     
</class>


    </classes>
  </test>
  <test name="Firefox Test">
        <parameter name="browser" value="firefox" />
        <parameter name="version" value="104.0" />
        <parameter name="platform" value="WIN10" />
        <classes>
            <class name="com.questyAutomation.testcases.Sampletest2" />
        </classes>
    </test>
       <test name="IE Test">
        <parameter name="browser" value="ie" />
        <parameter name="version" value="11.0" />
        <parameter name="platform" value="WIN10" />
        <classes>
            <class name="com.questyAutomation.testcases.Sampletest2" />
        </classes>
    </test>
</suite>